<kebab-case-test>
  <span>
    {props.textContent}
  </span>
  <style>
    :host {
      display: none;
    }
  </style>
  <script>
    import assert from "assert"

    export default {
      onMounted() {
        assert(this.root.host.attributes["text-content"].nodeValue === this.props.textContent);
        assert(this.root.querySelector("span").textContent === this.props.textContent);
      }
    }
  </script>
</kebab-case-test>
